.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    display:flex;
    flex-direction: column;
}

#map{
    height:100%;
}

.map-description {
    border: solid black;
    height: 20rem;
}

.map-description p {
    font-size: 1rem;
}