html, body {
    height:100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100%;
}

.sidebar{
    display:flex;
    flex-direction: column;
    padding: 1rem;
    background-color: lightgreen;
    position:relative;
    z-index: -2;
}

.logo{
    position: absolute;
    top:2%;
    right: 4%;
    max-width:15%;
    height:auto;
    z-index: -1;
}

.main-header {
    color: orangered;
    font-weight: bold;
    z-index: 10;
}

.main-header span {
    color:blue;
}

.sidebar label {
    color:rgb(1, 49, 1);
}

.btn {
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.5rem;
    color:orangered;
    font-weight: bold;
    background-color: darkgreen;
    border: solid 1px black;
}


.map-description {
    border: solid 1px black;
    height: 15rem;
    overflow:auto;
    padding:1rem;
    background-color: lightblue;
    color: black;
}

.map-description p {
    font-size: 1rem;
}

.map-description h2 {
    font-size: 1.2rem;
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-self: start;

}

.settings {
    text-align: center;
}

.settings h4 {
    margin-bottom: 0;
}

#map{
    height:100%;
    background-color: lightblue;
    padding-left: 1rem;
}